/* styles.css */

img {
	margin: auto;
	display: block;
	height: auto;
	width: 500px;
      }

body {
	background-color: rgb(255,182,193);
	font-family: Monaco, Arial, Helvetica, sans-serif;
	color:rgb(65, 65, 65);
}

h1 {
	text-align: center;
}


.ul-recipes {
	list-style-type: repeating-heart-emoji;
}


@counter-style repeating-heart-emoji {
	system: cyclic;
	symbols: "\1F498";
	suffix: "";
}